@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(36, 36, 36);
  --dark-gray: #6b7280;
  --off-white: hsl(0, 0%, 95%);
  --link-secondary: rgb(0, 0, 0.4);
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.date {
  text-align: center;
  color: #6b7280;
  align-content: center;
}

.container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-center {
  max-width: 50rem;
  margin: auto;
}
.nav-brand .link {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  white-space: nowrap;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.primary-link {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}
.primary-link:hover {
  background-color: rgb(75, 75, 75);
}
.secondary-link:hover {
  background-color: #cecece;
  color: rgb(0, 0, 0);
  border: none;
}

.secondary-link {
  color: var(--link-secondary);
  border-radius: 0.5rem;
  color: rgb(0, 0, 0);
  background-color: #e8e8e8;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.more {
  border-radius: 0.5rem;
  color: #000000;
  background-color: aliceblue;
  padding: 0.5rem 1rem;
  border: 1px solid #6b7280;
}

hr {
  margin: 2rem 0rem;
}

.list-non-bullet {
  list-style: none;
  padding: 0px;
}

.list-item-inline {
  display: inline;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.navigation .nav-brand {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: auto;
}

.navigation .link {
  color: white;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link-active {
  font-weight: bold;
  font-size: 1.3rem;
}

.hero {
  padding: 2rem;
  margin-top: 5rem;
}

.hero .hero-image {
  max-width: 300px;
  display: block;
  margin: auto;
}

.intro {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .intro {
    font-size: 1rem;
  }
}

.tech-image {
  max-width: 2.5rem;
  display: inline;
  margin: auto;
  padding: 0rem 1.2rem;
}
.tech-image:hover {
  fill: var(--primary-color);
}

.hero .hero-heading {
  color: var(--dark-gray);
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .hero .hero-heading {
    font-size: 2rem;
  }
}

.return {
  padding: 1rem;
}

.section {
  padding: 1rem;
}

.section h1 {
  text-align: center;
  padding: 2rem;
}

.ow {
  background-color: var(--off-white);
  border-radius: 1rem;
}

.footer {
  margin-top: 1rem;
  background-color: var(--primary-color);
  padding: 2rem 0rem;
  text-align: center;
  color: white;
  left: 0;
  border-bottom-right-radius: 1rem;
}

.footer .footer-header {
  font-size: large;
  font-weight: bold;
}
.content {
  padding: 20px;
}

.footer .link {
  color: white;
}

.heading-text {
  border-left: none;
  border-right: none;
  border-bottom: none;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.heading-text * {
  margin: 0;
  padding: 0;
}

.each-project {
  max-width: 800px;
  width: 100%;
  padding: 10px 20px;
}

.email {
  text-decoration: none;
  color: var(--dark-gray);
}

.email:hover {
  text-decoration: underline;
}
